*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.div{
    width: 100%;
    justify-content: space-between;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: black;
    background-color: bisque;
    display: flex;
    margin: 0;
    padding: 0;
    background-image: url(../img/DFG3.gif);
    color: white;
    background-size: cover;
}
.nav{
    flex-direction: row;
    flex-wrap: wrap
}
a{
    background-color:beige;
}
a:hover{
    color: red;
}
