*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    display: flex;
    background-color: beige;
    flex-direction: row;
}

.profil_text{
    color: black;
    width: 50%;
    height: 50%;

}
p{
    color: black;
}

.profil_imgg{
    width: 39%;
    margin: 100px;
    border-radius: 19px;
    height: 500px;
    background-image: url(../../img/pp.jpg);
    background-size: cover;
}


.skills {
    text-align: right;
    padding-top: 10px; 
    padding-bottom: 10px; 
    color: white; 
}
  
  .html {width: 90%; background-color: #04AA6D;} 
  .css {width: 80%; background-color: #2196F3;} 
  .js {width: 65%; background-color: #f44336;}
  .react {width: 60%; background-color: #808080;}
  .redux{width: 35% ; background-color: brown;}
  .softskill{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 5px;
    color: white;
  }
.softAz{width: 95%;background-color: #04AA6D;}
.softTr{width: 85%;background-color: red;}
.softEn{width: 65%;background-color: #2196F3;}
.softGr{width: 15%;background-color: blueviolet;}

h3{
    color: black;
}
h2{
    color: black;
}