*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3{
    font-size: 26px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a{
    font-size: 24px;
    margin: 20px;
    color: black;

}