@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@300&display=swap');*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-details{
    width: 100%;
    height: 100vh;
    font-size: large;
    font-weight: bold;
    color: cadetblue;
    position: absolute;
    margin-top: 120px;
    font-family: 'Catamaran', sans-serif;
    margin-top: 70px;
}

.header{
    font-size: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(https://i.redd.it/e3bnymw0dca61.jpg);
    color: transparent;
    animation-duration: 4s;
}     
.Degree{

    justify-content: start;

    color: white;
    margin: 70px;
    font-size: 45px;
}
p{
    margin:10px;
    font-size: 20px;
    color: white;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    align-items: center;
}
.tem{
    justify-content: center;
    align-items: center;
    display: flex;
}
.Celcius{
    font-size: 80px;
    background-color: transparent;
}

span{

    content: "\212A";
}
.c{

 content: "\2103";
}
/* .weather-details{
    background-image: url(../components/img/cover.jpg);
    color: transparent;
    background-size: cover;
    height: 50%;
    width: 55%;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 25%;
    margin-top: 400px;

    
} */
.weather-details {
    width: 45%;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: rgba(99, 91, 91, 0.409); 
    backdrop-filter: blur(3px); 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    margin-left: 30%;
    margin-top: 300px;
  }
  
  .weather-details::before {
    content: "";
    top: 0;
    left: 0;
    width: 45%;
    height: 300px;
    background-size: cover;
    filter: blur(3px); 
    z-index: -1;
  }
  