*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-details{
    width: 100%;
    height: 100vh;
    /* justify-content: center; */
    /* align-items: center;
    text-align: center; */
    font-size: large;
    font-weight: bold;
    color: cadetblue;
    position: absolute;
    margin-top: 120px;
}

.header{
    font-size: 100px;
    justify-content: center;
    text-align: center;
    align-items: center;
    /* background-image: url(https://i.redd.it/e3bnymw0dca61.jpg); */
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url(https://i.redd.it/e3bnymw0dca61.jpg);
    color: transparent;
}     
.Degree{
    justify-content: start;

    color: white;
    margin: 70px;
    font-size: 45px;
}
p{
    margin:10px;
    font-size: 20px;
    color: white;
    justify-content: center;
    text-align: center;
    margin-right: 20px;
    align-items: center;
}
.tem{
    justify-content: center;
    align-items: center;
    display: flex;
}
.Celcius{
    font-size: 80px;
    background-color: transparent;
}